/* Header */
@media screen and (min-width: 992px) {
	.btn__collapse {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.nav {
		width: 100%;
	}

	.nav__item {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.nav__item:after {
		display: none;
	}

	.nav__list {
		flex-direction: column;
		position: fixed;
		left: 0;
		width: 100%;
		z-index: 9;
		transform: translateX(-100%);
		transition: transform .25s linear;
	}

	.btn__collapse, .nav__bg {
		position: fixed;
		top: 1.5rem;
		right: 1.5rem;
		width: 5rem;
		height: 5rem;
		font-size: 2rem;
		text-align: center;
		color: #fff;
		line-height: 5rem;
		border-radius: 5rem;
		background-color: var(--primary-color);
		cursor: pointer;
		z-index: 10;
	}

	.nav__bg {
		background-color: #eee;
		z-index: 8;
		transition: transform .25s linear;
	}

	.inp__collapse:checked ~ .nav__bg {
		transform: scale(80);
	}

	.inp__collapse:checked ~ .nav__list {
		transform: translateX(0);
	}
}

/* Feature */
@media screen and (max-width: 1280px) {
	.feature__item-content-top {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.feature__item {
		height: auto;
		flex-direction: column;
	}

	.feature .feature__item > .feature__item-img,
	.feature .feature__item > .feature__item-content {
		width: 100%;
	}

	.feature__item-content-top {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

/* Images Shop */
@media screen and (max-width: 768px) {
	.images__shop {
		height: auto;
		flex-direction: column;
	}

	.images__block {
		width: 100%;
	}

	.images__item {
		height: auto;
	}
}

/* Footer */
@media screen and (max-width: 768px) {
	.footer {
		flex-direction: column;
	}

	.footer__item {
		width: 100%;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}