/* Add fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');


/* Setup basics CSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
html {
	font-size: 62.5%; /* 1rem = 10px */
}
body {
	font-family: "Lato", sans-serif;
	line-height: 1;
	font-weight: 400;
}
a {
	text-decoration: underline;
}
img {
	display: block;
	max-width: 100%;
}
button {
	cursor: pointer;
}
input,
textarea,
button {
	outline: none;
	box-shadow: none;
	font-family: "Lato", sans-serif;
}

/* General Rules */
.wrapper {
	max-width: 160rem;
	margin: 0 auto;
}

:root {
	--primary-color: #64c29e;
	--heading: #353738;
	--text: #848789;
	--input-boder: #d3d7d9;
	--input-text: #cdcdcd;
	--bg-light: #f7f7f7;
	--bg-dark: #282f35;
}

/* Header */
.header {
	min-height: 80rem;
	background-image: url("../images/header.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
}

.nav {
	margin-top: 3.5rem;
}

.nav__list {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav__item {
	padding-left: 4rem;
	padding-right: 4rem;
	position: relative;
}

.nav__link {
	position: relative;
	display: block;
	text-transform: uppercase;
	color: var(--heading);
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 700;
}

.nav__item:first-child:after,
.nav__item:nth-child(4):after {
	content: ".";
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 2rem;
}

/* Feature */
.feature {
	background-color: var(--bg-light);
}

.feature__header {
	padding: 12rem 28rem 14.5rem;
}

.feature__img-top {
	margin: 0 auto 3.5rem;
}

.feature__heading {
	font-size: 1.8rem;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	margin-bottom: 3rem;
	color: var(--heading);
}

.feature__header-desc {
	font-size: 1.8rem;
	color: var(--text);
	line-height: 1.6;
	text-align: center;
	max-width: 108rem;
	margin: 0 auto;
}

.feature__list {
	width: 100%;
}

.feature__item {
	display: flex;
	flex-flow: row wrap;
	height: 60rem;
	overflow: hidden;
}

.feature__item-img {
	width: 67%;
	position: relative;
}

.feature__item-content {
	width: 33%;
}

.feature__item .img__bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.feature__item .img__brand {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.feature__item-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.feature__item-content-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 7rem;
	position: relative;
	background-color: #fff;
	height: 67%;
}

.feature__item-content-top:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 2rem;
	height: 2rem;
	background-color: #fff;
	z-index: 10;
	transform: translate(-50%, 50%) rotate(-45deg);
}

.feature__item-text {
	font-size: 1.6rem;
	line-height: 1.6;
	color: var(--text);
	text-align: justify;
	position: relative;
	padding-bottom: 3rem;
}

.feature__item-text:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 6rem;
	height: 1px;
	background-color: #d7d7d7;
	transform: translateX(-50%);
}

.feature__item-content-bottom {
	height: 33%;
}

.feature__item:nth-child(2) .feature__item-img {
	order: 2;
}

.feature__item:last-child .feature__item-img {
	width: 33%;
}

.feature__item:last-child .feature__item-content {
  width: 34%;
}

/* Tweet */
.tweet {
	padding: 12.5rem 28rem 7rem;
	background-color: var(--bg-light);
	text-align: center;
}

.tweet__icon--twitter {
	font-size: 4rem;
	color: #56c7ee;
	margin-bottom: 3.5rem;
}

.tweet__icon--facebook {
	font-size: 4rem;
	color: #537bbd;
	margin-bottom: 3.5rem;
}

.tweet__icon--printerest {
	font-size: 4rem;
	color: #eb5755;
	margin-bottom: 3.5rem;
}

.tweet__heading {
	font-size: 1.8rem;
	margin-bottom: 2rem;
}

.tweet__location, .tweet__author {
	color: var(--heading);
	font-weight: bold;
}

.tweet__time {
	color: var(--text);
	font-weight: 300;
	padding-left: 1.5rem;
	margin-left: 1.5rem;
	position: relative;
}

.tweet__time:before {
	content: "/";
	position: absolute;
	top: 0;
	left: 0;
}

.tweet__content {
	font-size: 2.4rem;
	line-height: 1.4;
	color: var(--text);
	font-style: italic;
	max-width: 104rem;
	margin: 0 auto 10rem;
}

/* Images Shop */
.images__shop {
	display: flex;
	justify-content: space-between;
	height: 53.5rem;
	overflow: hidden;
}

.images__block {
	width: 33.333%;
	height: 100%;
	display: flex;
}

.images__block:first-child {
	flex-direction: column;
}

.images__block:last-child {
	flex-direction: column-reverse;
}

.images__block-item {
	width: 100%;
	height: 50%;
}

.images__block-item:first-of-type {
	display: flex;
}

.images__block-item:last-of-type .images__item {
	width: 100%;
}

.images__item {
	width: 50%;
	height: 100%;
	position: relative;
	transition: .6s;
}

.images__item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #70c6a6c9;
	z-index: 10;
	display: none;
}

.images__item-bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.images__item-brand {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	text-align: center;
	display: none;
}

.images__item-brand > img {
	margin: 0 auto;
}

.images__item-text {
	text-transform: uppercase;
	color: #fff;
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 1.4rem;
}

.images__item:hover:before, .images__item:hover .images__item-brand {
	display: block;
}






